apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "saleor-core.fullname" . }}-api
  labels:
    {{- include "saleor-core.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  {{- if not .Values.api.autoscaling.enabled }}
  replicas: {{ .Values.api.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "saleor-core.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      annotations:
      {{- if not .Values.alternativeAppSettingsConfigMap }}
        checksum/config-settings: {{ include (print $.Template.BasePath "/configmap-settings.yaml") . | sha256sum }}
      {{- end }}
      {{- with .Values.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "saleor-core.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "saleor-core.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        # Settings for the django based application
        - name: custom-settings
          configMap:
          {{- if (not .Values.alternativeAppSettingsConfigMap) }}
          name: {{ include "saleor-core.fullname" . }}-custom-settings
          {{- else }}
          name: {{ .Values.alternativeAppSettingsConfigMap }}
          {{- end }}
        # Volume for the images and unstructured data
        - name: saleor-data-media
          {{- if and .Values.persistence.enabled .Values.persistence.existingPvc }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingPvc }}
          {{- else if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ default (include "saleor-core.fullname" .) }}
          {{- else }}
          emptyDir:
            medium: Memory
          {{- end }}
      initContainers:
        # Wait for successful response from redis and postgresql
        - name: "{{- include "saleor-core.apiContainerName" . }}-init-1"
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- include "saleor-core.env" . | indent 10 }}
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag | default (cat "dev-" .Chart.AppVersion) | nospace }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/bash
            - -c
            - >
              {{ include "saleor.postgresql.isReady" . | nindent 14 }}
              {{ include "saleor.redis.isReady" . | nindent 14 }}
      containers:
        # Deploy the app
        - name: "{{- include "saleor-core.apiContainerName" . }}"
          volumeMounts:
            - name: custom-settings
              mountPath: /app/saleor/custom-settings.py
              subPath: custom-settings.py
              readOnly: true
            - name: saleor-data-media
              mountPath: /app/media
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- include "saleor-core.env" . | indent 10 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - gunicorn
            - -c
            - /app/saleor/gunicorn_conf.py
            - saleor.asgi:application
          ports:
            - containerPort: {{ .Values.api.gunicorn.port }}
              protocol: TCP
          livenessProbe: {{ toYaml .Values.api.livenessProbeSettings | nindent 12 }}
            httpGet:
              path: /health/
              port: {{ .Values.api.gunicorn.port }}
          readinessProbe: {{ toYaml .Values.api.readinessProbeSettings | nindent 12 }}
            httpGet:
              path: /health/
              port: {{ .Values.api.gunicorn.port }}
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
