{{- if not .Values.externalServices.cloudStorage.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "saleor-core.fullname" . }}-web
  labels:
    {{- include "saleor-core.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  # Running this app without some form of central storage does not make sense
  {{- if not (and (not .Values.web.autoscaling.enabled) (and (not .Values.persistence.enabled) (not .Values.externalServices.cloudStorage.enabled))) }}
  replicas: {{ .Values.web.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "saleor-core.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: web
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "saleor-core.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: web
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "saleor-core.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        # ConfigMap for the django based application settings
        - name: custom-settings
          configMap:
          {{- if (not .Values.alternativeAppSettingsConfigMap) }}
            name: {{ include "saleor-core.fullname" . }}-custom-settings
          {{- else }}
            name: {{ .Values.alternativeAppSettingsConfigMap }}
          {{- end }}
        # Volume for the images and unstructured data
        - name: saleor-data-media
        {{- if and .Values.persistence.enabled .Values.persistence.existingPvc }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingPvc }}
        {{- else if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ default (include "saleor-core.fullname" .) }}
        {{- else }}
          emptyDir:
            medium: Memory
        {{- end }}
        # ConfigMap for the nginx configuration and the static assets script
        - name: web-conf
          configMap:
            name: {{ include "saleor-core.fullname" . }}-web
        # Volume for the web assets data
        - name: saleor-data-static
          emptyDir:
            medium: Memory
      initContainers:
        # Wait for redis and postgresql to be ready
        - name: "{{- include "saleor-core.webContainerName" . }}-init-1"
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- include "saleor-core.env" . | indent 10 }}
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag | default (cat "dev-" .Chart.AppVersion) | nospace }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          command:
            - /bin/bash
            - -c
            - >
              {{ include "saleor.postgresql.isReady" . | nindent 14 }}
              {{ include "saleor.redis.isReady" . | nindent 14 }}
        # Deploy static assets into memory
        - name: "{{- include "saleor-core.webContainerName" . }}-init-2"
          volumeMounts:
            - name: custom-settings
              mountPath: /app/saleor/custom-settings.py
              subPath: custom-settings.py
              readOnly: true
            - name: web-conf
              mountPath: /home/saleor/configure_web.sh
              subPath: configure_web.sh
              readOnly: true
            - name: saleor-data-static
              mountPath: /app/static
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- include "saleor-core.env" . | indent 10 }}
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag | default (cat "dev-" .Chart.AppVersion) | nospace }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/bash
            - /home/saleor/configure_web.sh
          args:
            - "true"
      containers:
        # Deploy nginx web server
        - name: "{{- include "saleor-core.webContainerName" . }}"
          volumeMounts:
            - name: web-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: saleor-data-static
              mountPath: /app/static
            - name: saleor-data-media
              mountPath: /app/media
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          command: ["nginx"]
          args:
            - -g
            - "daemon off;"
          ports:
            - containerPort: {{ .Values.web.port }}
              protocol: TCP
          livenessProbe: {{ toYaml .Values.web.livenessProbeSettings | nindent 12 }}
            httpGet:
              path: /healthz
              port: {{ int .Values.web.port | add1 }}
          readinessProbe: {{ toYaml .Values.web.readinessProbeSettings | nindent 12 }}
            httpGet:
              path: /static/images/placeholder60x60.png
              port:  {{ int .Values.web.port | add1 }}
          resources:
            {{- toYaml .Values.web.resources | nindent 12 }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
