# @format
---
steps:
  - task: Bash@3
    displayName: Install dependencies
    inputs:
      targetType: "inline"
      workingDirectory: "$(Build.Repository.LocalPath)"
      failOnStderr: false
      noProfile: true
      noRc: true
      script: |
        if [ -z "$(command -v make)" ]; then
          apt-get update -y -qq && apt-get install -y -qq build-essential;
        fi
        if [ -z "$(command -v wget)" ]; then
          apt-get update -y -qq && apt-get install -y -qq wget;
        fi
        make init_all
